# SteamLauncher
/bin/win/ludusavi/config.yaml
/bin/win/ludusavi/manifest.yaml
/bin/win/SmartSteamLoader/SmartSteamEmu.ini
/data
/build/release
/src/main/dist/
/src/preload/dist/
/src/render/dist/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/node_modules
