# SteamLauncher
/build/bin/ludusavi/config.yaml
/build/bin/ludusavi/manifest.yaml
/build/bin/SmartSteamLoader/SmartSteamEmu.ini
/build/data
/build/release
/build/dist

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/node_modules
