# SteamLauncher
/src/render/src/public/js/jquery.min.js

/data
/build/release
/src/main/dist/
/src/preload/dist/
/src/render/dist/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/node_modules
