#nav {
  @extend .py-0;
  z-index: 1060;

  & > .container-fluid {
    @extend .pe-0;
    @extend .app-region-drag;
  }

  & .nav-item {
    & .nav-link {
      @extend .app-region-no-drag;

      &:hover {
        background-color: var(--st-nav-link-hover-color) !important;
      }

      // TITLEBAR
      &[data-sk='titlebar'] {
        cursor: default;
      }

      &[data-sk='titlebar'][data-sk-fn='close'] {
        &:hover {
          background-color: red !important;
        }
      }

      &[data-sk='titlebar'][data-sk-fn='restore'] {
        @extend .d-none;
      }

      // SET NETWORK
      &[data-sk='set-network'][data-sk-isMode='online'] {
        & > *:last-child {
          @extend .d-none;
        }
      }

      &[data-sk='set-network'][data-sk-isMode='offline'] {
        & > *:first-child {
          @extend .d-none;
        }
      }
    }
  }

  & button.nav-link {
    @extend .bg-transparent;
    @extend .border-0;
  }
}

// MODAL NAVIGATION
#nav .nav-link[data-navigare] {
  @extend .st-fadeIn;
}

.modal-open #nav .nav-link[data-navigare] {
  @extend .st-fadeOut;
}

// TITLEBAR
.window-is-maximized #nav .nav-link {
  &[data-sk='titlebar'][data-sk-fn='maximize'] {
    @extend .d-none;
  }

  &[data-sk='titlebar'][data-sk-fn='restore'] {
    // NOTE: i don't know why
    //@extend .d-block;
    display: block !important;
  }
}
