$st-window: #121619;
$st-menu: #161a20;
$st-body: #1b2125;
$st-border: #181e23;

$st-primary: $st-window;
$st-secondary: $st-body;

// $purple
$secondary: #6f42c1;
// $teal
$success: #20c997;
// $blue
$info: #0d6efd;
