$st-primary: #1f232e;
$st-secondary: #161920;

$primary: #6419e6;
$secondary: #d926a9;
$success: #36d399;
$info: #3abff8;
$warning: #fbbd23;
$danger: #f87272;
$light: #ffffff;
$dark: #191d24;

$body-bg: $st-secondary;
