<nav id='nav' class='navbar navbar-expand navbar-dark bg-st-primary'>
  <div class='container-fluid'>
    <div class='navbar-brand'>
      <img src='images/steamlauncher.svg' alt='Logo' class='img-logo' />
      <span>SteamLauncher v{{version}}</span>
    </div>
    <ul class='navbar-nav'>
      <li class='nav-item'>
        <a href='/account/edit' class='nav-link' data-navigare>
          <span class='mdi mdi-account-edit'></span>
          <span>Account</span>
        </a>
      </li>
      <li class='nav-item'>
        <a href='/settings' class='nav-link' data-navigare>
          <span class='mdi mdi-cogs'></span>
          <span>Settings</span>
        </a>
      </li>
      <li class='nav-item'>
        <a href='/about' class='nav-link' data-navigare>
          <span class='mdi mdi-information'></span>
          <span>About</span>
        </a>
      </li>
      <li class='nav-item'>
        <button type='button' class='nav-link' data-sk='set-network' data-sk-isMode='{{networkStatus}}'>
          <span class='text-success'>
            <span class='mdi mdi-server-network'></span>
            <span>Online Mode</span>
          </span>
          <span class='text-danger'>
            <span class='mdi mdi-server-network-off'></span>
            <span>Offline Mode</span>
          </span>
        </button>
      </li>
      <li class='nav-item'>
        <button type='button' class='nav-link' title='Minimize window' data-sk='titlebar' data-sk-fn='minimize'>
          <span class='mdi mdi-window-minimize'></span>
        </button>
      </li>
      <li class='nav-item'>
        <button type='button' class='nav-link' title='Maximize window' data-sk='titlebar' data-sk-fn='maximize'>
          <span class='mdi mdi-window-maximize'></span>
        </button>
      </li>
      <li class='nav-item'>
        <button type='button' class='nav-link' title='Restore window' data-sk='titlebar' data-sk-fn='restore'>
          <span class='mdi mdi-window-restore'></span>
        </button>
      </li>
      <li class='nav-item'>
        <button type='button' class='nav-link' title='Close window' data-sk='titlebar' data-sk-fn='close'>
          <span class='mdi mdi-window-close'></span>
        </button>
      </li>
    </ul>
  </div>
</nav>
