<div class='modal fade'>
  <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg'>
    <div class='modal-content text-bg-st-primary'>
      <div class='modal-header'>
        <div class='modal-title'>
          <img class='img-logo' src='images/steamlauncher.svg' alt='Logo SteamLauncher' />
          <img class='img-logo' src='images/sak32009.svg' alt='Logo Sak32009' />
          <span>{{name}} v{{version}}</span>
        </div>
        <button type='button' class='btn-close btn-close-white' data-bs-dismiss='modal'></button>
      </div>
      <div class='modal-body markdown-body'>{{{description}}}</div>
      <div class='modal-footer flex-column'>
        <div class='mb-2'>{{copyright}}</div>
        <div>
          <a href='https://github.com/Sak32009' class='btn btn-sm btn-primary'>
            <span class='mdi mdi-github'></span>
            <span>Sak32009</span>
          </a>
          <a href='https://github.com/Sak32009/SteamLauncher' class='btn btn-sm btn-primary'>
            <span class='mdi mdi-github'></span>
            <span>SteamLauncher</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
