<div>
  <div id='game-drop' class='card text-bg-st-primary mb-3'>
    <div class='card-body'>
      <div class='d-flex align-items-center justify-content-center'>
        <span class='fs-4 me-1'>[</span>
        <span>to add a game choose a file (*.exe;) and drop it here</span>
        <span class='fs-4 ms-1'>]</span>
      </div>
    </div>
  </div>
  <div id='games-list' class='card text-bg-st-primary'>
    <div class='card-header text-center text-uppercase border-primary'>
      <span class='mdi mdi-controller-classic mdi-18px'></span>
      My games library
    </div>
    <div class='card-body'></div>
  </div>
</div>
