<header>
  <div id='st-nav-titlebar'>
    <div class='st-nav-left'>
      <img src='{{steamLauncherImg}}' alt='Logo' class='img-logo' />
      <span class='ms-1'>SteamLauncher</span>
    </div>
    <ul class='nav'>
      <li class='nav-item'>
        <button
          type='button'
          class='nav-link'
          data-sk='set-network'
          data-sk-isMode='{{networkStatus}}'
          data-bs-toggle='tooltip'
          title='Switch between Online / Offline mode.'
        >
          <span class='mdi mdi-server-network text-success'></span>
          <span class='mdi mdi-server-network-off text-danger'></span>
        </button>
      </li>
      <li class='nav-item'>
        <button
          type='button'
          class='nav-link'
          data-sk='titlebar'
          data-sk-fn='minimize'
          data-bs-toggle='tooltip'
          title='Minimize window'
        >
          <span class='mdi mdi-window-minimize'></span>
        </button>
      </li>
      <li class='nav-item'>
        <button
          type='button'
          class='nav-link'
          data-sk='titlebar'
          data-sk-fn='maximize'
          data-bs-toggle='tooltip'
          title='Maximize window'
        >
          <span class='mdi mdi-window-maximize'></span>
        </button>
      </li>
      <li class='nav-item'>
        <button
          type='button'
          class='nav-link'
          data-sk='titlebar'
          data-sk-fn='restore'
          data-bs-toggle='tooltip'
          title='Restore window'
        >
          <span class='mdi mdi-window-restore'></span>
        </button>
      </li>
      <li class='nav-item'>
        <button
          type='button'
          class='nav-link'
          data-sk='titlebar'
          data-sk-fn='close'
          data-bs-toggle='tooltip'
          title='Close window'
        >
          <span class='mdi mdi-window-close'></span>
        </button>
      </li>
    </ul>
  </div>
  <div id='st-nav-menu'>
    <div class='st-nav-left'>
      <span class='mdi mdi-nintendo-game-boy'></span>
      <span class='ms-1'>My Games</span>
    </div>
    <ul class='nav'>
      <li class='nav-item'>
        <button
          type='button'
          class='nav-link'
          data-sk='add-game'
          data-bs-toggle='tooltip'
          title='To add a game choose the game executable and drag and drop it here or click on the box to open file dialog.'
        >
          <span class='mdi mdi-plus-circle'></span>
          <span>Add Game</span>
        </button>
      </li>
      <li class='nav-item'>
        <a href='/account/edit' class='nav-link' data-navigare>
          <i class='fa-solid fa-user'></i>
          <span>{{accountName}}</span>
        </a>
      </li>
      <li class='nav-item'>
        <a href='/settings' class='nav-link' data-navigare>
          <span class='mdi mdi-cog'></span>
          <span>Settings</span>
        </a>
      </li>
      <li class='nav-item'>
        <a href='/about' class='nav-link' data-navigare>
          <span class='mdi mdi-information'></span>
          <span>About</span>
        </a>
      </li>
    </ul>
  </div>
</header>
<main class='overflow-auto flex-grow-1'>
  <div class='container py-3'>
    <div id='games-list'></div>
  </div>
</main>