<div id='console' class='modal fade'>
  <div class='modal-dialog modal-fullscreen'>
    <div class='modal-content text-bg-st-primary'>
      <div class='modal-header'>
        <div class='modal-title'>
          <span class='mdi mdi-console'></span>
          <span class='text-uppercase'>console</span>
        </div>
      </div>
      <div class='modal-body p-0'>
        <textarea class='form-control border-st-secondary text-bg-dark h-100 rounded-0' readonly></textarea>
      </div>
      <div class='modal-footer justify-content-center text-uppercase'>please don't close the app until the process
        finishes!</div>
    </div>
  </div>
</div>
