<div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <form class="modal-content" action="" data-sk-channel="settings-edit">
      <div class="modal-header">
        <div class="modal-title">
          <span class="mdi mdi-cogs mdi-18px"></span>
          <span class="ml-1">Settings</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <span class="mdi mdi-close"></span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="card">
          <div class="card-title">
            <span class="mdi mdi-lock-check mdi-18px"></span>
            <span class="ml-1">SSL Certificate Verification</span>
          </div>
          <div class="card-body">
            <select class="form-select !rounded-none" name="httpsRejectUnauthorized" required>
              <option value="true" {{#data.httpsRejectUnauthorized}}selected{{/data.httpsRejectUnauthorized}}>Enabled</option>
              <option value="false" {{^data.httpsRejectUnauthorized}}selected{{/data.httpsRejectUnauthorized}}>Disabled</option>
            </select>
          </div>
          <div class="form-text text-center p-2">If you encounter the "unable to verify the first certificate" error, try disabling the ssl certificate verification. If this value is changed, restart the app.</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-green">Save</button>
      </div>
    </form>
  </div>
</div>
